.definedColorCompra{
    background-color: rgb(117, 202, 202);
}
.definedColorDevolucion{
    background-color: rgb(123, 198, 146);
}
.definedColorPrestamo{
    background-color: rgb(194, 181, 96);
}
.definedColorDespacho{
    background-color: rgb(169, 93, 122);
}
.definedColorPedidos{
    background-color: rgb(76, 102, 175);
}
.definedColorRecicladas{
    background-color: rgb(173, 186, 101);
}
.input{
    border-radius: 10px;
    font-size: 25px;
    width: 300px;
    height: 55px;
    color: rgb(86, 70, 70);
    background: whitesmoke
    
    // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}