<table class="table table-bordered table-hover bg-white" style="text-align: center;">
    <thead>
        <tr>
            <th style="width: 10px;">ID</th>
            <th>Fecha de despacho</th>
            <th>Cantidad</th>
            <th>Número de huacales</th>
            <th>Ruta</th>
            <th>Observación</th>
            <th>Cliente</th>
            <th>Ayudante</th>
            <th>Opciones</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let i of despachos">
            <td>
                {{i.id_despacho}}
            </td>
            <td>
                {{i.fecha_despacho | date:"yyyy-MM-dd"}}
            </td>
            <td>
                {{i.cantidad_libras}}
            </td>
            <td>
                {{i.numero_tinas}}
            </td>
            <td>
                {{i.ruta}}
            </td>
            <td>
                {{i.observasiones}}
            </td>
            <td>
                {{i.cliente}}
            </td>
            <td>
                {{i.guardia}}
            </td>
            <td class="d-flex justify-content-center">
                <a class="btn btn-success" data-toggle="modal" data-target="#editarPedido" (click)="getDataDespachos(i.id_despacho,i.fecha_despacho,i.cantidad_libras,
                    i.numero_tinas,i.ruta,i.observasiones,i.cliente,i.guardia)">
                    <i class="fas fa-edit"></i>
                </a>
                <div class="modal fade" id="editarPedido" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Despacho</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="formDespacho">
                                    <div class="select">
                                        <select name="format" id="format" formControlName="fk_tbl_cliente_cedula">
                                            <option *ngFor="let c of clientes" [value]="c.cedula">{{c.nombre +'
                                                '+c.apellido}}
                                            </option>
                                        </select>

                                    </div>
                                    <div class="alert__danger"
                                        *ngIf="fk_tbl_cliente_cedula.invalid && (fk_tbl_cliente_cedula.dirty ||  fk_tbl_cliente_cedula.touched)">
                                        <div class="container-error-message">
                                            Seleccione el cliente
                                        </div>
                                    </div>
                                    <br>
                                    <div class="select">
                                        <select name="format" id="format" formControlName="fk_tbl_guardia_cedula">
                                            <option *ngFor="let c of guardias" [value]="c.cedula">{{c.nombre +'
                                                '+c.apellido}}
                                            </option>
                                        </select>

                                    </div>
                                    <div class="alert__danger"
                                        *ngIf="fk_tbl_guardia_cedula.invalid && (fk_tbl_guardia_cedula.dirty ||  fk_tbl_guardia_cedula.touched)">
                                        <div class="container-error-message">
                                            Seleccione el ayudante
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">

                                        <input type="number" formControlName="cantidad_libras" class="form-control">
                                        <div class="alert__danger"
                                            *ngIf="cantidad_libras.invalid && (cantidad_libras.dirty ||  cantidad_libras.touched)">
                                            <div class="container-error-message">
                                                La cantidad es requerida
                                            </div>
                                        </div> <br>
                                        <input type="number" formControlName="numero_tinas" placeholder=""
                                            class="form-control">
                                        <div class="alert__danger"
                                            *ngIf="numero_tinas.invalid && (numero_tinas.dirty ||  numero_tinas.touched)">
                                            <div class="container-error-message">
                                                El número de huacales es requerida
                                            </div>
                                        </div><br>

                                        <input type="text" formControlName="ruta" class="form-control">
                                        <div class="alert__danger"
                                            *ngIf="ruta.invalid && (ruta.dirty ||  ruta.touched)">
                                            <div class="container-error-message">
                                                La ruta es requerida
                                            </div>
                                        </div><br>
                                        <input type="text" formControlName="observasiones" class="form-control">
                                        <br>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary"
                                            (click)="updateDespacho(formDespacho.value)"
                                            data-dismiss="modal">Actualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>


        </tr>
    </tbody>
</table>