<div class="container__main">
    <form [formGroup]="formPrestamo">
        <div class="container__title__object">
            <h4>Datos cliente</h4>
        </div>
        <div class="container__data__object">
            <div class="container__data__object__item">
                <div class="select">
                    <select name="format" id="format" formControlName="fk_tbl_cliente_cedula">
                        <option *ngFor="let c of clientes" [value]="c.cedula">{{c.nombre +' '+c.apellido}}
                        </option>
                    </select>

                </div>
                <div class="alert__danger"
                    *ngIf="fk_tbl_cliente_cedula.invalid && (fk_tbl_cliente_cedula.dirty ||  fk_tbl_cliente_cedula.touched)">
                    <div class="container-error-message">
                        Seleccione el cliente
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="container__title__object2">
            <h4>Datos Prestamo</h4>
        </div>

        <div class="container__body__object">
            <div class="container__body__general">
                <div class="container__body__item">
                    <label for="start">Fecha entrega: </label>
                    <input formControlName="fecha_entrega" type="date" id="start">
                    <div class="alert__danger"
                        *ngIf="fecha_entrega.invalid && (fecha_entrega.dirty ||  fecha_entrega.touched)">
                        <div class="container-error-message">
                            La fecha de entrega es requerida
                        </div>
                    </div>
                </div>
                <div class="container__body__item">
                    <label for="tentacles"> Número de tinas:</label>
                    <input formControlName="numero_tinas" type="number" id="tentacles" name="tentacles">
                    <div class="alert__danger" *ngIf="numero_tinas.invalid && (numero_tinas.dirty ||  numero_tinas.touched)">
                        <div class="container-error-message">
                            El número de tinas es requerida
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__body__general">
                <div class="container__body__item">
                    <label for="tentacles"> Número de acta:</label>
                    <input formControlName="numero_acta" type="number" id="tentacles" name="tentacles">
                    <div class="alert__danger"
                        *ngIf="numero_acta.invalid && (numero_acta.dirty ||  numero_acta.touched)">
                        <div class="container-error-message">
                            El número de acta es requerido
                        </div>
                    </div>
                </div>
                <div class="container__body__item">
                    <label for="tentacles"> Observaciones:</label>
                    <input formControlName="observasiones" type="text" id="tentacles" name="tentacles">
                </div>
            </div>
        </div>
        <br>
        <div class="container__tutton">
            <button type="button" style="margin-right: 20px;" class="btn btn-primary"
                (click)="createPrestamo(formPrestamo.value)">Guardar</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/dashboard/prestamo']">Cancelar</button>

        </div>
    </form>
</div>