<div class="col-md-12">
    <div style="text-align: center;">
        <h1>Pedidos</h1>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" 
        [routerLink]="['/dashboard/pedido/compedido']">Nuevo Pedido</button>
    <br><br>

    <!-- <router-outlet></router-outlet><br> -->
    <!-- <div [ngClass]="{'d-none':activoC==true}"> -->
        <ul class="nav nav-tabs">
            <li class="nav-item" (click)="changeActiveA()">
                <a class="nav-link" [ngClass]="{'active':activoA==true}"
                    [routerLink]="['/dashboard/pedido/detpedido']">Pedidos</a>
            </li>
            <li class="nav-item" (click)="changeActiveB()">
                <a class="nav-link" [ngClass]="{'active':activoB==true}"
                    [routerLink]="['/dashboard/pedido/detdespacho']">Despachos</a>
            </li>
        </ul>
    <!-- </div> -->
    <br>

    <router-outlet></router-outlet>


    <!-- <table class="table table-bordered table-hover bg-white" style="text-align: center;">
        <thead>
            <tr>

                <th>ID</th>
                <th>Fecha pedido</th>
                <th>Fecha entrega</th>
                <th>Cantidad en libras</th>
                <th>Ruta</th>
                <th>Observaciones</th>
                <th>Cliente</th>
                <th>Opciones</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let i of orders">
                <td>
                    {{i.id_pedido}}
                </td>
                <td>
                    {{i.fecha_pedido | date:"yyyy-MM-dd"}}
                </td>
                <td>
                    {{i.fecha_entrega | date:"yyyy-MM-dd"}}
                </td>
                <td>
                    {{i.cantidad_libras}}
                </td>
                <td>
                    {{i.ruta}}
                </td>
                <td>
                    {{i.observasiones}}
                </td>
                <td>
                    {{i.client}}
                </td>
                <td class="d-flex justify-content-center">

                    <a class="btn btn-success" data-toggle="modal" data-target="#editarPedido"
                        (click)="getDataOrders(i.id_pedido,i.fecha_entrega,i.cantidad_libras, i.ruta, i.observasiones, i.client)">
                        <i class="fas fa-edit"></i>
                    </a>

                    <div class="modal fade" id="editarPedido" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar Pedido</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formPedidoA">
                                        <div class="select">
                                            <select name="format" id="format" formControlName="fk_tbl_cliente_cedula">
                                                <option *ngFor="let c of clientes" [value]="c.cedula">{{c.nombre +' '+
                                                    c.apellido}}
                                                </option>
                                            </select>

                                        </div>
                                        <div class="alert__danger"
                                            *ngIf="fk_tbl_cliente_cedula.invalid && (fk_tbl_cliente_cedula.dirty || fk_tbl_cliente_cedula.touched)">
                                            <div class="container-error-message">
                                                Seleccione el cliente
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="date" [ngModel]='fecha | date:"yyyy-MM-dd" '
                                                (ngModelChange)='fecha=$event' formControlName="fecha_entrega"
                                                placeholder="" class="form-control">
                                            <div class="alert__danger"
                                                *ngIf="fecha_entrega.invalid && (fecha_entrega.dirty || fecha_entrega.touched)">
                                                <div class="container-error-message">
                                                    La fecha de entrega es requerida
                                                </div>
                                            </div><br>
                                            <input type="number" formControlName="cantidad_libras" placeholder=""
                                                class="form-control">
                                            <div class="alert__danger"
                                                *ngIf="cantidad_libras.invalid && (cantidad_libras.dirty || cantidad_libras.touched)">
                                                <div class="container-error-message">
                                                    La cantidad es necesaria
                                                </div>
                                            </div> <br>
                                            <input type="text" formControlName="ruta" placeholder=""
                                                class="form-control">
                                            <div class="alert__danger"
                                                *ngIf="ruta.invalid && (ruta.dirty || ruta.touched)">
                                                <div class="container-error-message">
                                                    La ruta es necesaria
                                                </div>
                                            </div><br>
                                            <input type="text" formControlName="observasiones" placeholder=""
                                                class="form-control"> <br>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary"
                                                (click)="updateOrders(formPedidoA.value)"
                                                data-dismiss="modal">Actualizar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table> -->
</div>