<div class="container__main">
    <form [formGroup]="formInsumo">
        <div class="container__title__object">
            <h4>Datos Guardia</h4>
        </div>
        <div class="container__data__object">
            <div class="container__data__object__item">
                <div class="select">
                    <select name="format" id="format" formControlName="fk_tbl_guardia_cedula">
                        <option *ngFor="let c of guardias" [value]="c.cedula">{{c.nombre +' '+c.apellido}}
                        </option>
                    </select>
                </div>
                <div class="alert__danger"
                    *ngIf="fk_tbl_guardia_cedula.invalid && (fk_tbl_guardia_cedula.dirty ||  fk_tbl_guardia_cedula.touched)">
                    <div class="container-error-message">
                        Seleccione el ayudante
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container__title__object2">
            <h4>Datos Pedido</h4>
        </div>

        <div class="container__body__object">
            <div class="container__body__general">
                <div class="container__body__item">
                    <label for="start">Fecha de salida: </label>
                    <input formControlName="fecha_salida" type="date" id="start" name="trip-start" value="2018-07-22">
                    <div class="alert__danger"
                        *ngIf="fecha_salida.invalid && (fecha_salida.dirty ||  fecha_salida.touched)">
                        <div class="container-error-message">
                            La fecha de salida es requerida
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__body__general">
                <div class="container__body__item">
                    <label for="tentacles"> Cantidad en libras:</label>
                    <input formControlName="cantidad_libras" type="number" id="tentacles" name="tentacles">
                    <div class="alert__danger"
                        *ngIf="cantidad_libras.invalid && (cantidad_libras.dirty ||  cantidad_libras.touched)">
                        <div class="container-error-message">
                            La cantidad es requerida
                        </div>
                    </div>
                </div>
            </div>


            <div class="container__body__general">
                <div class="container__body__item">
                    <label for="tentacles"> Observaciones:</label>
                    <input formControlName="observasiones" type="text" id="tentacles" name="tentacles">

                </div>
            </div>
        </div>
        <br>
        <div class="container__tutton">

            <button type="button" style="margin-right: 20px;" class="btn btn-primary"
                (click)="createInsumo(formInsumo.value)">Guardar</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/dashboard/insumo']">Cancelar</button>

        </div>
    </form>
</div>